{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>GenerateMe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

  <!-- app styles -->
  <link rel="stylesheet" href="{% static 'app/app.css' %}">
</head>

<body>

  <div class="content">

    <div class="instruction-div">
      <h1 class="heading">GenerateMe.</h1>
      <div class="instruction">
        <i class="fa-regular fa-square-check instruction-icon"></i>
        <h3 class="instructionHeading">Click labels to select fields</h3>
      </div>
      <div class="instruction">
        <i class="fa-solid fa-dice-six instruction-icon"></i>
        <h3 class="instructionHeading">Generate a random identity</h3>
      </div>
      <div class="instruction">
        <i class="fa-solid fa-clipboard-check instruction-icon"></i>
        <h3 class="instructionHeading">Copy data to clipboard</h3>
      </div>
    </div>

    <div class="form-div">
      <div class="gender-icons">
        <i class="fa-solid fa-mars"></i>
        <i class="fa-solid fa-venus"></i>
      </div>
      <form action="/" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-row">
          {{ field.label_tag }}
          {{ field }}
          {{ field.errors }}
          <i class="fa-solid fa-clipboard clipboard-icon"></i>
          <span class="tooltip-text">Copy</span>
        </div>
        {% endfor %}
        <div class="generate-row">
          <input class="btn generate-button" type="submit" value="Generate">
        </div>
      </form>
    </div>
  </div>

  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/218e506e4f.js" crossorigin="anonymous"></script>
  <!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <!-- app js -->
  <script src="{% static 'app/app.js' %}"></script>
</body>

</html>